.breadcrumb-custom {
    background-color: rgba(0, 0, 0, 0) !important;
    margin-bottom: 0 !important;
}

ol.breadcrumb-custom > li > a {
    color: rgba(255, 255, 255, 0.8) !important;
}

ol.breadcrumb-custom > li > a:hover {
    color: white !important;
}

.bg-primary-dark {
    background-color: rgb(23, 43, 77)
}
